body
{
	font-size:100%;
	font-family:verdana,arial,'sans serif';
	background-color:#FFFFF0;
	color:#000080;
	margin:20px;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

th {background-color:#ADD8E6;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#000080;}
a:hover {color:red;}

